/*!*******************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./scss/fonts.scss ***!
  \*******************************************************************************************************************************************************/
@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Regular.eot);
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url(./fonts/TTLakes-Regular.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Medium.eot);
  src: local("TT Lakes Medium"), local("TTLakes-Medium"), url(./fonts/TTLakes-Medium.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-DemiBold.eot);
  src: local("TT Lakes DemiBold"), local("TTLakes-DemiBold"), url(./fonts/TTLakes-DemiBold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-DemiBold.woff) format("woff"), url(./fonts/TTLakes-DemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Bold.eot);
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url(./fonts/TTLakes-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

/*!*******************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./scss/style.scss ***!
  \*******************************************************************************************************************************************************/
body {
  padding: 1rem;
  margin: 0;
  font-family: "TT Lakes", "Verdana", sans-serif;
  background-color: #24292e;
  color: #fff; }

/*!******************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./scss/menu.scss ***!
  \******************************************************************************************************************************************************/
.header-menu__icon,
.sidebar-menu__icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer; }

.header-menu__icon--burger {
  background-image: url(./img/icon-burger.svg); }

.header-menu__icon--call,
.sidebar-menu__icon--call {
  background-image: url(./img/icon-call.svg); }

.header-menu__icon--chat,
.sidebar-menu__icon--chat {
  background-image: url(./img/icon-chat.svg); }

.header-menu__icon--profile,
.sidebar-menu__icon--profile {
  background-image: url(./img/icon-profile.svg); }

.header-menu__icon--repair {
  background-image: url(./img/icon-repair.svg); }

.header-menu__icon--checkstatus {
  background-image: url(./img/icon-checkstatus.svg); }

.header-menu__item--divider {
  background-color: #eaeaea;
  border-radius: 0;
  width: 2px;
  height: 32px; }

.header-menu__item--call,
.header-menu__item--chat,
.header-menu__item--profile,
header nav.header-menu ul + ul .header-menu__item--divider {
  display: none; }

.sidebar-menu__icon--close {
  background-image: url(./img/icon-close.svg); }

.sidebar-menu__icon--search {
  background-image: url(./img/icon-search.svg); }

.sidebar-menu__logo + button {
  float: right; }

body > button {
  transition: filter .6s; }

body > button:hover {
  filter: grayscale(70%); }


/*# sourceMappingURL=style.css.map*/